<!DOCTYPE html>
<html lang="en">

  <%- include ('head.ejs') %>

<body>
  <main>
    <section>
      <section class="leftmainsection">
        <img src="/img/hexside-main-logo.png" alt="Hexside Symbol Logo">
        <img src="/img/hexside-logo.png" alt="Hexside Title Card">
        <h1>Welcome, <b>Admin</b></h1>
        <ul>
          <li>Coven Theme Builder</li>
          <li>Settings</li>
          <li>Servers</li>
          <li>Log</li>
          <li>Magic Curriculum</li>

        </ul>
      </section>
      <section>
        <a onclick="location.href='/';">Reset to Default</a>
        <a onclick="location.href='/';">+ Add New Theme</a>
        <% themes.forEach(function(theme){ %>
          <a href="/themes/<%= theme._id %>" style=" font-size: 13px; text-decoration:none; text-align: center; display:flex; background-color: <%= theme.backgroundColor %>">
              <img src="../uploads/<%= theme.images %>" loading="lazy" alt="<%= theme.name %> thumbnail" width="40" height="40">
            <span style="margin: 10px 10px;"><%= theme.name %></span>
          </a>          
        <% }); %>
      </section>

      <%- include ('form.ejs') %>


      <section>
        <h2>Template Example</h2>
        <section class="rightmainsection">
          <h3 class="welcomefont">Welcome to Hexside Magical School!</h3>
          <img src="./img/hexside-main-logo.png">
          <p class="textfont">Lorem ipsum </p>
        </section>
      </section>
    </section>
  </main>
  <footer> 
  </footer>
  <script>
    
  </script>
</body>
</html>
